<!-- <div class="alert alert-success" style="text-align: center" role="alert">
    {{logoutMsg}}
  </div> -->
  <a class="navbar-brand" href="#">Logo</a>


  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link 2</a>
    </li>

    <li class="nav-item dropdown"  *ngIf="showMenu" >
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Employee Details
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLink="/saveEmp">Add</a>
        <a class="dropdown-item" routerLink="/allEmp">All</a>
      </div>
      
    </li>
  </ul>
  <a *ngIf="showMenu" routerLink="/logout" class="btn btn-info"  role="button">Logout</a>
  <div>
    <button  *ngIf="showMenu" class="btn btn-info navbar-btn">LoginUser: {{userName}}</button>
  </div>
